* {
    box-sizing: border-box;
    color: whitesmoke;
}

body {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100vh;
    margin: 0;
    padding: 0;

    font-family: Roboto;
    background-color: #1e2124;
    
    

}

header, main, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main {
    height: 100%;

 }

.calculator {
    border:  1px solid whitesmoke;
    width: 350px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    gap: 8px;
    padding: 10px;
    background-color: #36393e;

    
}

input {
    -moz-appearance: textfield;
    width: 80%;
    height: 120px;
    border-radius: 10px;
    align-self: center;
    font-size: 48px;
    text-align: end;
    background-color: #1e2124;
    border: 0;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


button {
    font-size: 24px;
    border: 0;
   
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 8px;
    
    
    
}

.button {
    width: 64px;
    height: 64px;
    background-color: #424549;
    
}

.bigButton {
    width: 144px;
    height: 64px;
    
}

.operation, .bigButton, .equal {
    background-color: #1e2124;
}

button:hover {
    background-color: rgb(220, 140, 0);
}

